.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333333;
}

.signup-container {
    width: 350px;
    padding: 40px;
    background-color: #222222;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #ffffff;
}

/* h2 {
    text-align: center;
    color: #cb1919;
} */

form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

input {
    padding: 13px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #2b2626;
    font-size: 14px;
    width: 90%;
}

.butlogin {
    background: #1AAB8A;
    color: #fff;
    border-radius: 5px;
    position: relative;
    height: 35px;
    font-size: 1.0em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.butlogin:hover {
    background: #fff;
    color: #1AAB8A;
}

.butlogin:before,
.butlogin:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}

.butlogin:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.butlogin:hover:before,
.butlogin:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/* button {
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
} */

a {
    text-align: center;
    color: #333333;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.password-error {
    color: red;
}

.valid-icon,
.error-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    right: 600px;
    top: 61%;
    transform: translateY(-50%);
}

.valid-icon {
    background-color: #00ff00;
}

.error-icon {
    background-color: #ff0000;
}

p {
    color: #ffffff;
}

.route {
    color: rgb(29, 116, 238);
}