.custom-loader {
    height: 6px;
    width: 120px;
    background: linear-gradient(rgba(51, 153, 153, 0.7) 0 0) right/51% 100% no-repeat;
    display: flex;
    animation: t10-0 1s linear infinite;
}

.custom-loader:before,
.custom-loader:after {
    content: "";
    width: 30px;
    background: rgba(51, 153, 153, 0.7);
    animation: t10-1 1s linear infinite;
}

.custom-loader:after {
    animation-delay: -0.5s;
    --s: -1;
}

@keyframes t10-1 {

    0%,
    100% {
        transform: scaleX(var(--s, 1)) rotate(0)
    }

    25%,
    75% {
        transform: scaleX(var(--s, 1)) rotate(180deg)
    }
}

@keyframes t10-0 {

    0%,
    49.9% {
        transform: scaleX(1)
    }

    50%,
    100% {
        transform: scaleX(-1)
    }
}